
body {
    font-family: 'Quicksand', sans-serif; 
  }

.display-flex {
    display: flex;
  }

  .navbar {
    align-items: center;
  }

  .school{
    font-size: 2rem;
    font-weight: 700;
  }

  .nav-links{
    gap: 32px;
    justify-content: center;
    margin: 16px 325px;
  }

  .nav-item {
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
    font-weight: 500px;
    font-size: 1.25rem;
  }

  .violet{
    color: #8700FF;
  }

  .orange{
    color: #FEA301;
  }

  .blue{
    color: #01ACFD;
  }

  .facilities{
    color: #05D4DF;
  }

  .addmission{
    color: #5D58EF;
  }

  .btn-primary{
    background-color: #FEA301;
    color: #FFFFFF;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
  }

  .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
  }

  .banner{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .banner-title {
    font-size: 3.5rem;
    font-weight: 700;
  }

  .banner-description{
    font-size: 1.25rem;
  }

  .btn-banner{
    background-color: #111111;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
  }
  .hero{
    max-width: 100%;
    height: auto;
  }

  .menubar{
    display: none;
  }

  main{
    background-image: url(../assets/bg.png);
    margin: 0 auto;
  }

  .curriculum {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
  }

  .cards-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 28px;
    margin: 80px 0;
  }

  .kinder-container, .elementary-container, .middle-container {
    width: 332px;
    border-radius: 18px;
    padding: 105px 40px;
    box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
  }

  .kinder-container {
    background: linear-gradient(#DEF5FF, #FFFFFF);
  }

  .elementary-container{
    background: linear-gradient(#FFF4DC, #FFFFFF);
  }

  .middle-container{
    background: linear-gradient(#F2E8FF, #FFFFFF);
  }

  .kinder, .elementary, .middle {
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .kinder-description, .elementary-description, .middle-description {
    color: #808080;
    font-weight: 500;
  }

  .read-more {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: #FFFFFF;
  }

  .navigation {
    text-align: center;
    margin-bottom: 60px;
  }

  .btn-navigation{
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 2rem;
    border: none;
    padding: 18px 26px;
    border-radius: 40px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn-navigation:hover {
    color: #202020;
  }

  .stories {
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(254, 163, 1, 0.5) ), url('../assets/bg.png');
  }

  .story{
    margin: 140px 0 60px;
  }

  .story-container{
    justify-content: center;
    padding: 80px 0;
  }

  .four-story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }

  .story-one{
    max-width: 540px;
    background-color: #FFFFFF;
    margin-right: 20px;
  }
  
  .story-one-description {
    padding: 34px 38px;
  }

  .story-one, .story-two, .story-three, .story-four, .story-five{
    background-color: #FFFFFF;
    border-radius: 16px;
  }

  .story-two, .story-three, .story-four, .story-five{
    max-width: 290px;
  }

  .images{
    border-radius: 16px 16px 0 0;
  }

  .story{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
  }

  .date-one {
    background-color: #3CD8E8;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 30px;
    margin-left: -500px;
    padding: 14px 23px;
  }

  .date-two, .date-three, .date-four, .date-five {
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: -260px;
  }

  .date-two, .date-three, .date-five {
    background-color: #95B226;
  }

  .date-four {
    background-color: #5D58F0;
  }

  .story-one-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .story-one-details{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
  }

  .story-description {
    align-items: center;
    padding: 20px 30px;
  }

  .story-details{
    font-size: 1rem;
    font-weight: 700;
  }

  .view-all {
    text-align: center;
  }

  .btn-view {
    background-color: #111111;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 61px;
    border-radius: 12px;
    border: none;
    margin-bottom: 60px;
  }

  @media screen and (max-width:768px) {

    .school, .nav-links, .btn-primary, .navigation, .story-one {
        display: none;
    }

    .navbar{
        justify-content: space-between;
        padding: 8px 16px;
        border-bottom: 1px solid orange;
        margin-bottom: 30px;
    }

    .menubar{
        display: block;
    }

    .banner{
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }

    .banner-details{
        text-align: center;
        align-items: center;
    }

    .hero{
        margin-bottom: 20px;
    }

    .cards-container{
        flex-direction: column;
        width: 100%;
    }

    .story-container{
        padding: 0 0px 30px;
    }

    .story-two, .story-three, .story-four, .story-five{
        max-width: 175px;
    }

    .images{
        width: 175px;
    }

    .date-two, .date-three, .date-four, .date-five{
        font-size: 0.5rem;
        padding: 6px 11px;
        margin-left: -150px;
    }

    .story-details{
        font-size: 0.7rem;
    }

    .story-description {
        padding: 15px 18px;
    }
  }